<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Category - Create</title>
</head>
<body>
    <h2>Create Category</h2>
    <h2 th:text="${errorMessage}" th:if="${errorMessage != 'NONE'}"></h2>
    <form action="#" method="post">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="txtName" value=""/></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Create"/></td>
            </tr>
        </table>
    </form>
</body>
</html>