<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Category</title>
</head>
<body>
    <h1>List Categories</h1>
    <h1 th:text="${errorMessage}"
        th:if="${errorMessage != 'SUCCESS'}"></h1>
    <a th:if="${errorMessage == 'SUCCESS'}" th:href="@{/category/distributor/} + ${distributorId} + @{/create}" th:text="Create"></a>
    <table th:if="${errorMessage == 'SUCCESS'}" border="1">
        <tr>
            <td>Id</td>
            <td>Category Name</td>
            <td>Action</td>
        </tr>
        <tr th:each="category : ${lstCategories}">
            <td th:text="${category.id}"></td>
            <td th:text="${category.name}"></td>
            <td>
                <a th:href="@{/category/edit/} + ${category.id}" th:text="Edit"></a>
                <a th:href="@{/category/delete/} + ${category.id}" th:text="Delete"></a>
            </td>
        </tr>
    </table>
</body>
</html>